  <footer>
    <div id="footernami" class="ui vertical footer segment">
      <div class="ui container">
        <div class="ui stackable divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui header">Acerca de nosotros</h4> 
            <div class="ui link list">
              <a href="#" class="item">Entra y conocenos</a>
              <a href="#" class="item">Contacto</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui header">Sitios de interés</h4>
            <div class="ui link list">
              <a href="http://www.cyberkidz.mx/" class="item">Cyberkidz</a>
              <a href="http://taktaktak.com/" class="item">Tak-tak-tak</a>              
            </div>
          </div>
          <div class="seven wide column">
            <p>Todos los derechos reservados. </p> 
            <a href="#" class="item">Aviso de privacidad</a>
            <p class="fontfooter">Creado con <i class="red heartbeat icon"></i> por Aztli.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
