<!-- White Menu -->
  <div class="ui large top fixed hidden menu">
    <div class="ui container">
      <a class="ui header logo" href="#" class="header item">Nami</a>
      <a class="active item">Inicio</a>
      <a class="item">Contacto</a>
      <a class="item">Informate</a>
      <div class="right menu">
        <div class="item">
          <a href="login.html" class="ui green button">Entrar</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
    <a href="#"><img class="logonami" src="images/namilogo.svg"></a>
    <a class="active item">Inicio</a>
    <a class="item">Contacto</a>
    <a class="item">Informate</a>
    <a href="login.html" class="item">Entrar</a>
  </div>

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical center aligned ">

      <div class="ui container">
        <div class="ui segment large network fixed menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <div class="logonami">
            <a href="#"><img src="images/namilogo.svg"></a>
            <a class="ui header logo "href="#">Nami</a>
          </div>
          <a class="active item">Inicio</a>
          <a class="item">Contacto</a>
          <a class="item">Informate</a>
          <div class="right item">
            <a href="login.html" class="ui green button">Entrar</a>
          </div>
        </div>
      </div>
    </div>
