<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nami | {{title}}</title>
    <link rel="icon" href="/img/logo.png?v=2">
    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    {{>header}}
    {{{body}}}
    {{>footer}}
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/semantic.min.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
  </body>
</html>
