<!DOCTYPE html>
<html>
  <head>
    <title>Nami | {{title}}</title>
    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
    <script type="text/javascript" src="/js/semantic.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    {{>header}}
    {{{body}}}
