<div id="aboutpage" class="ui container">
  <h1 class="ui  big header centered aligned ">Acerca de nosotros</h1>
  <br>
  <div class="ui two column stackable grid">
    <div class="row">
      <div class=" ten wide column">
        <h2 >¿Quienes somos?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="six wide column center aligned">
        <img class="ui medium image" src="https://images.pexels.com/photos/37863/penknife-pocket-knife-blade-serrated-37863.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="">
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <img class="ui medium image" src="https://images.pexels.com/photos/37863/penknife-pocket-knife-blade-serrated-37863.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="">
      </div>
      <div class="ten wide column">
        <h2>¿Qué buscamos?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="column">
      <form class="ui form" action="index.html" method="post">
        <h2 class="ui dividing header">Obten ayuda y contactanos</h2>
        <div class="field">
          <label for="">Asunto</label>
          <input type="text" name="shipping[first-name]" placeholder="Asunto">
        </div>
        <div class="field">
          <label>E-mail de contacto</label>
          <input type="email" placeholder="correo@sitio.com">
        </div>
        <div class="field">
          <label>Mensaje</label>
          <textarea name="name" rows="8" cols="80"></textarea>
        </div>
        <button class="ui button" type="submit">Enviar</button>
      </form>
    </div>
    <div class="column">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d943.0826099543784!2d-98.20561937076941!3d19.005155467195788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfbf58ada869f1%3A0x860f66876fca43d6!2sAztli+lab!5e0!3m2!1sen!2smx!4v1489252722310" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
