
<div id="masthead" class="ui text segment">
	<div class="ui container">
	  <h1 class="ui header">Explora y diviertete con <strong>Nami</strong></h1>
	  <div class="ui huge primary button">Empezar<i class="icon arrow right"></i></div>
  </div>
</div>


<div class="ui vertical segment">
  <h2 class="ui center aligned header">Juega con nosotros</h2>
  <div class="ui centered aligned container">
    <div class="ui three column grid">
      <div class="column">
        <div class="ui card">
          <img class="game_image" src="/images/roll.png">
          <div class="content">
            <a class="header" href="#">RollerBall</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <img class="game_image" src="/images/2.jpg">
          <div class="content">
            <a class="header">Kristy</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <img class="game_image" src="/images/1.jpeg">
          <div class="content">
            <a class="header">Nami</a>
          </div>
        </div>
      </div>
    </div>
  </div>
	<br>
  <h2 class="ui horizontal divider header">Conoce más</h2><br>
  <div class="ui centered aligned container">
    <div class="ui three column grid">
      <div class="column">
        <div class="ui card">
          <img class="game_image" src="/images/dis.jpg">
          <div class="content">
            <a class="header" href="http://www.dyseggxia.com/index?lang=es">Dyseggxia</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <img class="game_image" src="/images/tda.png">
          <div class="content">
            <a class="header" href="http://www.tdahtrainer.com/">TDAH Trainer</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <img class="game_image" hr src="/images/alex.jpg" >
          <div class="content">
            <a class="header" href="http://www.didacticapps.com/alex-aprende-a-ordenar-2/">Alex aprende</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
