<h1>{{title}}</h1>
<p>Mi página de juegos {{title}}</p>

 <div class="pusher"> 
 		<div class="ui vertical segment">
 			<div class="ui centered aligned container">
	 			<div class="ui three column grid">
				  <div class="column">
				    <div class="ui fluid blue card">
				      <div class="ui image">
				        <img src="images/1.jpeg" class="imgtam">
				      </div>
				      <div class="content">
				        <a class="header">Daniel Louise</a>
				      </div>
				    </div>
				  </div>
				  <div class="column">
				    <div class="ui fluid green card">
				      <div class="ui image">
				        <img class="imgtam" src="images/2.jpg">
				      </div>
				      <div class="content">
				        <a class="header">Daniel Louise</a>
				      </div>
				    </div>
				  </div>
				  <div class="column">
				    <div class="ui fluid red card">
				      <div class="ui image">
				        <img class="imgtam" src="images/3.jpg">
				      </div>
				      <div class="content">
				        <a class="header">Daniel Louise</a>
				      </div>
				    </div>
				  </div>				  
				</div>
			</div>
 		</div>
 </div>