<script>
    $(document).ready(function () {
      //body...
      $('#recomendacion').click(function(event){
          event.preventDefault();
          var text=$('textarea').val();
          //console.log(text);
          $('ul').append('<li>'+text+'</li>');
      });
      $('#comentar').click(function(event){
          event.preventDefault();
          var text=$('#comentario').val();
          $('tbody').append('<tr><td class="right aligned collapsing">Psicologo</td><td>'+text+'</td><td class="collapsing"><i class="calendar icon"></i>11/03/2017</td></tr>');
      });
    });

</script>


<div id="tutorsecction" class="ui container">
  <h1 class="ui  horizontal divider center aligned header"> Reporte de datos </h1>
  <br>
    <div class="ui divided two column grid">
      <div class="column">
        <h2>Información personal</h2>
        <p><strong>Nombre: </strong>Juan Brayan Gonzalez Camarena</p>
        <p><strong>Edad: </strong>8 años </p>

        <section class="">
          <table class="ui celled striped table">
            <thead>
              <tr>
                <th colspan="3">
                  Observaciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="right aligned collapsing">Usaer</td>
                <td>El niño no responde durante las sesiones de control emocional</td>
                <td class="collapsing">
                  <i class="calendar icon"></i>15/03/2017
                </td>
              </tr>
              <tr>
                <td class="right aligned collapsing">Grupo</td>
                <td>Durante las clases el alumno continua molestando a sus compañeros</td>
                <td class="collapsing">
                  <i class="calendar icon"></i>10/03/2017
                </td>
              </tr>
              <tr>
                <td class="right aligned collapsing">Tutor</td>
                <td>Mi hijo ultimamente </td>
                <td class="collapsing">
                  <i class="calendar icon"></i>10/03/2017
                </td>
              </tr>
            </tbody>
          </table>

          <div class="ui action input">
            <input type="text" placeholder="Haz una observación..." id="comentario">
            <button class="ui primary button" id="comentar">Comentar</button>

          </div>
        </section>

        <section>

          <h2>Recomendaciones</h2>
          <p>
              <ul></ul>
          </p>
          <textarea  id="" cols="30" rows="10" class=""></textarea>

          <button class="ui primary button" id="recomendacion">Recomendacion</button>
        </section>
      </div>
      <div class="column">
        <h2> Estadisticas de avance</h2>
      </div>
    </div>
</div>
