
<div id="tutorsecction" class="ui container">
  <h1 class="ui  horizontal divider center aligned header"> Reporte de datos </h1>
  <br>
    <div class="ui divided two column grid">
      <div class="column">
        <h2>Información personal</h2>
        <p><strong>Nombre: </strong>Juan Brayan Gonzalez Camarena</p>
        <p><strong>Edad: </strong>8 años </p>

        <section class="">
          <table class="ui celled striped table">
            <thead>
              <tr>
                <th colspan="3">
                  Observaciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="right aligned collapsing">Usaer</td>
                <td>El niño no responde durante las sesiones de control emocional</td>
                <td class="collapsing">
                  <i class="calendar icon"></i>15/03/2017
                </td>
              </tr>
              <tr>
                <td class="right aligned collapsing">Grupo</td>
                <td>Durante las clases el alumno continua molestando a sus compañeros</td>
                <td class="collapsing">
                  <i class="calendar icon"></i>10/03/2017
                </td>
              </tr>
              <tr>
                <td class="right aligned collapsing">Tutor</td>
                <td>Mi hijo ultimamente </td>
                <td class="collapsing">
                  <i class="calendar icon"></i>10/03/2017
                </td>
              </tr>
            </tbody>
          </table>

          <div class="ui action input">
            <input type="text" placeholder="Haz una observación...">
            <button class="ui button">Comentar</button>
          </div>
        </section>

        <section>
          <h2>Recomendaciones</h2>
          <p class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </section>
      </div>
      <div class="column">
        <h2> Estadisticas de avance</h2>
      </div>
    </div>
</div>
