<form class="ui massive form" method="post" action="/usuarios/asociar-usuario">
  <div class="inline fields">
    <label>Codigo del Usuario</label>
    <div class="field">
      <input type="text" placeholder="codigo del usuario" name="codigo">
    </div>
     <input name="_csrf" type="hidden" value="{{csrfToken}}" />
    <div class="field">
    	<input type="submit" class="ui button primary" value="Asociar">
    </div>
  </div>
</form>